@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&family=Varela&display=swap');

.container {
    font-family: 'Roboto Mono', monospace;
    background-color: #252525;
    font-size: 18px;
    padding: 20px; /* Adiciona espaço interno à div */
    text-align: center;
    border-radius: 12px;
    border-radius: 12px;
    
  }

h1 {
   color: #FFFFFF
}

body {
    background-color: #32424B;
}

.container p {
    text-align: center;
    font-size: 33px;
    color: #FFFFFF;
}